.faq {
    .card {
        .faq_title {
            font-size: 18px;
            font-weight: 600;
            color: #4154f1 !important;
            line-height: 1.2;
        }
        .faq_text {
            color: #6980aa;
        }
    }
}