.tabs_border {
    border: none;
    border-bottom: 2px solid #ddd;
}

.tabs_border .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.tabs_border .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #4154f1;
}