#homePage {
    overflow: hidden;
    // home title
    .home_title {
        font-family: "Nunito", sans-serif;
        h4 {
            font-size: 24px;
            margin-bottom: 0;
            font-weight: 600;
            color: #012970;
            line-height: 1.2;
        }
        .fst_link a {
            font-size: 14px;
            font-weight: 600;
            color: #899bbd;
        }
        .fst_link:hover a {
            color: #51678f;
        }
        .breadcrumb .active {
            margin-bottom: 0;
            color: #51678f;
            font-weight: 600;
            font-size: 14px;
        }
    }
    // filter card
    .filter_card {
        .card {
            padding: 0 20px 15px 20px;
            border: none;
            .card-title {
                line-height: 1.2;
                margin-bottom: 0.5rem;
                padding: 20px 0 15px 0;
                font-size: 18px;
                font-weight: 600;
                color: #012970;
                font-family: "Poppins", sans-serif;
            }
            .card-title span {
                color: #899bbd;
                font-size: 14px;
                font-weight: 400;
            }
            .up_part {
                margin-top: -4%;
            }
            .btn-primary {
                background-color: none;
                border-color: 0;
                color: #aab7cf;
                background: transparent;
                border: none;
                box-shadow: none;
            }
            .btn-primary:hover {
                color: #4154f1;
            }
            .dropdown-toggle::after {
                display: none;
            }
            .cart_icon {
                .first_icon {
                    font-size: 32px;
                    text-align: center;
                    color: #4154f1;
                    background: #f6f6fe;
                    width: 64px;
                    height: 64px;
                    line-height: 1.7;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                .currency_icon {
                    font-size: 32px;
                    text-align: center;
                    color: #2eca6a;
                    background: #e0f8e9;
                    width: 64px;
                    height: 64px;
                    line-height: 1.7;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                .person_icon {
                    font-size: 32px;
                    text-align: center;
                    color: #ff771d;
                    background: #ffecdf;
                    width: 64px;
                    height: 64px;
                    line-height: 1.7;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            .percent_text {
                margin-left: 1rem;
                h3 {
                    font-size: 28px;
                    color: #012970;
                    font-weight: 700;
                }
                .small_text {
                    margin-right: 0.4rem;
                    font-size: 0.875em;
                    font-weight: 700;
                }
                p {
                    font-size: 0.875em;
                }
            }
            .danger {
                color: #dc355d;
                margin-right: 0.4rem;
                font-size: 0.875em;
                font-weight: 700;
            }
            // dropdown
            .dropdown-item {
                font-weight: 400;
                font-size: 14px;
            }
            .dropdown-header {
                letter-spacing: 1px;
                color: #aab7cf;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }
            // hover
            .dropdown-item:focus,
            .dropdown-item:hover {
                background-color: #f6f9ff;
            }
        }
    }
    .breadcrumb {
        margin-bottom: 0;
    }
}

// ---------- responsive -----------
// 1300px
@media (max-width: "1300px") {
    #homePage .filter_card .card {
        padding: 0;
    }
}

// 1199px
@media (max-width: "1300px") {
    #homePage .filter_card .card {
        padding: 0;
    }
}

// 991px
@media (max-width: "991px") {
    #homePage .filter_card .card .up_part {
        margin-top: 0;
    }
}

// 414px
@media (max-width: "414px") {
    #productTable {
        .text-primary.fw-bold.title_text.fnt_size {
            font-size: 10px !important;
        }
    }
    #productTable {
        .row>* {
            padding-left: 0;
        }
    }
    #productTable {
        .title_sm {
            font-size: 10px !important;
        }
    }
    #productTable {
        .table> :not(caption)>*>* {
            padding: 0 0.1rem;
        }
    }
    #productTable td {
        font-size: 10px !important;
    }
}